*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.default-theme {
  --bg-color: rgb(248, 132, 121);
  --primary-color: #2a2a2a;
  --accent-color: #ff4500;
  --text-color: #ffffff;
  --slot-machine-color: rgb(248, 132, 121);
  --spin-button-bg-color: rgba(199, 6, 6, 0.664);
  --spin-button-border-color: rgb(252, 35, 35);
  --reels-bg-color: #e0e0e0;
  --change-theme-button-bg-color: rgb(247, 117, 105);
  --border-lights-color: yellow;
  --win-counter-color: black;
  height: 100vh !important;
  margin: 0;
  padding: 0;
  align-items: center;
  align-content: center;
  background-image: conic-gradient(
    rgb(248, 132, 121) 0%,
    rgb(248, 132, 121) 5%,
    rgb(252, 180, 174) 5%,
    rgb(252, 180, 174) 10%,
    rgb(248, 132, 121) 10%,
    rgb(248, 132, 121) 15%,
    rgb(252, 180, 174) 15%,
    rgb(252, 180, 174) 20%,
    rgb(248, 132, 121) 20%,
    rgb(248, 132, 121) 25%,
    rgb(252, 180, 174) 25%,
    rgb(252, 180, 174) 30%,
    rgb(248, 132, 121) 30%,
    rgb(248, 132, 121) 35%,
    rgb(252, 180, 174) 35%,
    rgb(252, 180, 174) 40%,
    rgb(248, 132, 121) 40%,
    rgb(248, 132, 121) 45%,
    rgb(252, 180, 174) 45%,
    rgb(252, 180, 174) 50%,
    rgb(248, 132, 121) 50%,
    rgb(248, 132, 121) 55%,
    rgb(252, 180, 174) 55%,
    rgb(252, 180, 174) 60%,
    rgb(248, 132, 121) 60%,
    rgb(248, 132, 121) 65%,
    rgb(252, 180, 174) 65%,
    rgb(252, 180, 174) 70%,
    rgb(248, 132, 121) 70%,
    rgb(248, 132, 121) 75%,
    rgb(252, 180, 174) 75%,
    rgb(252, 180, 174) 80%,
    rgb(248, 132, 121) 80%,
    rgb(248, 132, 121) 85%,
    rgb(252, 180, 174) 85%,
    rgb(252, 180, 174) 90%,
    rgb(248, 132, 121) 90%,
    rgb(248, 132, 121) 95%,
    rgb(252, 180, 174) 95%,
    rgb(252, 180, 174) 100%
  );
}

/* Tema Casino */
.casino-theme {
  --bg-color: rgb(124, 31, 247);
  --primary-color: #f7b731;
  --accent-color: #e84118;
  --text-color: #000000;
  --slot-machine-color: rgba(231, 201, 30, 0.952);
  --spin-button-bg-color: red;
  --spin-button-border-color: gold;
  --reels-bg-color: rgb(124, 31, 247);
  --border-lights-color: red;
  --win-counter-color: white;
  height: 100vh !important;
  width: 100%;
  align-content: center;
  background-image: conic-gradient(
    rgb(124, 31, 247) 0%,
    rgb(124, 31, 247) 5%,
    rgb(50, 7, 150) 5%,
    rgb(63, 9, 190) 10%,
    rgb(124, 31, 247) 10%,
    rgb(124, 31, 247) 15%,
    rgb(63, 9, 190) 15%,
    rgb(63, 9, 190) 20%,
    rgb(124, 31, 247) 20%,
    rgb(124, 31, 247) 25%,
    rgb(63, 9, 190) 25%,
    rgb(63, 9, 190) 30%,
    rgb(124, 31, 247) 30%,
    rgb(124, 31, 247) 35%,
    rgb(63, 9, 190) 35%,
    rgb(63, 9, 190) 40%,
    rgb(124, 31, 247) 40%,
    rgb(124, 31, 247) 45%,
    rgb(63, 9, 190) 45%,
    rgb(63, 9, 190) 50%,
    rgb(124, 31, 247) 50%,
    rgb(124, 31, 247) 55%,
    rgb(63, 9, 190) 55%,
    rgb(63, 9, 190) 60%,
    rgb(124, 31, 247) 60%,
    rgb(124, 31, 247) 65%,
    rgb(63, 9, 190) 65%,
    rgb(63, 9, 190) 70%,
    rgb(124, 31, 247) 70%,
    rgb(124, 31, 247) 75%,
    rgb(63, 9, 190) 75%,
    rgb(63, 9, 190) 80%,
    rgb(124, 31, 247) 80%,
    rgb(124, 31, 247) 85%,
    rgb(63, 9, 190) 85%,
    rgb(63, 9, 190) 90%,
    rgb(124, 31, 247) 90%,
    rgb(124, 31, 247) 95%,
    rgb(63, 9, 190) 95%,
    rgb(63, 9, 190) 100%
  );
  background-size: cover !important;
}

body {
  overflow: hidden;
  background-image: var(--background-image);
  height: 100vh;
  background-size: cover;
}

.slot-machine-container {
  display: flex;
  flex-direction: column;
  border: 6px dotted #e0e0e0;
  max-width: 600px;
  margin: auto;
  background-color: var(--slot-machine-color);
  border-radius: 10px;
  padding: 40px 40px 0px 40px;
  width: 100%;
  animation: lightRotate 1s linear infinite;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}



.reels-container {
  display: flex;
  flex-direction: row;
  border: 5px solid rgb(105, 79, 14);
  background-color: var(--reels-bg-color);
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  align-content: center;
  width: 80%;
  border-radius: 10px;
  margin: auto;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

.reel {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 33%;
  margin: 10px;
}

.slot-machine-bottom-center {
  width: 50%;
  text-align: center;
}

.slot-machine-bottom-left {
  width: 33%;
  border: none;
  border-radius: 10px;
  /* box-shadow: 2px 2px 5px black; */
  padding: 10px;
  h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    margin-bottom: 10px;
    padding-left: 10px;
  }
}

.slot-machine-bottom-right {
  width: 50%;
  .prize-counter{
    border: 5px solid lightseagreen;
    background-color: var(--reels-bg-color);
    border-radius: 40px;
    padding: 10px;
    color: var(--win-counter-color);
    text-align: center;
    line-height: 1.5;
    width: 80%;
  }
}

.spin-button {
  font-size: 1.5em;
  color: white;
  align-self: center;
  width: 70%;
  background-color: var(--spin-button-bg-color);
  width: 100px;
  height: 100px;
  border: 3px solid var(--spin-button-border-color);
  overflow: hidden;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px black;
  }
  animation: sizeUpAndDown 1s alternate infinite;
}

.slot-machine-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  overflow: visible;
}

.reel-image {
  height: 100px;
  filter: drop-shadow(5px 3px 4px black);
  @media screen and (max-width: 700px) {
    height: 70px;
  }
}

.winner-banner {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  padding: 10px;
  margin: 20px auto;
  font-weight: bold;
  background-color: var(--slot-machine-color);
  border-radius: 10px;
  border: 5px dotted var(--border-lights-color);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  width: 80%;
}

.logo-image {
  height: 120px;
  margin: auto;
  filter: invert(1) sepia(1) hue-rotate(20deg) saturate(1000%);
}

.winner-blink {
  animation: blink-border 1s infinite alternate;
  box-shadow: 0 0 20px rgba(248, 132, 121, 0.8);
}

@keyframes blink-border {
  0% {
    border-color: red;
    transform: scale(1);
  }
  50% {
    border-color: yellow;
  }
  100% {
    border-color: green;
    transform: scale(1.2);
  }
}

@keyframes lightRotate {
  0% {
    border-color: var(--border-lights-color) transparent transparent transparent;
  }
  25% {
    border-color: transparent var(--border-lights-color) transparent transparent;
  }
  50% {
    border-color: transparent transparent var(--border-lights-color) transparent;
  }
  75% {
    border-color: transparent transparent transparent var(--border-lights-color);
  }
  100% {
    border-color: var(--border-lights-color) transparent transparent transparent;
  }
}

.spin {
  animation: spin 0.1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(0, -25px);
  }
  100% {
    transform: translate(0, 40px);
  }
}

@keyframes sizeUpAndDown {
  0% {
    transform: scale(1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: scale(1.2);
    box-shadow: 0px 0px 20px black;
  }
}

.toggle-theme-button {
  position: relative;
  left: 25px;
  bottom: 5px;
  align-self: flex-end;
  color:var(--text-color);
  justify-content: center;
  height: 40px;
  width: 40px;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 900px) {
  .toggle-theme-button:hover {
    transform: scale(1.1);
  }
}


@media (max-width: 600px) {
  .slot-machine-container {
    width: 90%;
  }
  .slot-machine-bottom{
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    /* flex-wrap: wrap; */
  }
  .slot-machine-bottom-center {
    width: 45%;
    align-content: center;
    order: 3;
    margin-bottom: 10px;
  }
  .slot-machine-bottom-right {
    display: inline-block;
    text-align: center;
  }
  .slot-machine-bottom-left{
    align-self: center;
    order: 2;
  }
  .slot-machine-bottom-right{
    align-self: baseline;
    position: relative;
    bottom: 10px;
    align-content: center;
    width: 45%;
    margin-top: 20px;
    order: 3;
    .prize-counter{
      width: 100%;
    }
  }

  .toggle-theme-button{
    position: relative;
    left: 30px;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    border: none;
    background-color: var(--slot-machine-color);
    box-shadow: none;
  }

  .winner-banner {
    text-align: center;
    color: white;
    /* padding: 10px; */
    margin: 20px auto;
    width: 100%;

  }
}

/* @media (max-width: 400px) {
  .slot-machine-container {
    width: 95% !important;
    padding: 20px;
  }
  .slot-machine-bottom{
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  .slot-machine-bottom-center {
    width: 50%;
    align-content: center;
    order: 3;
    margin-bottom: 10px;
  }
  .slot-machine-bottom-left,
  .slot-machine-bottom-right {
    display: inline-block;
    text-align: center;
    width: 30%;
  }
  .slot-machine-bottom-left{
    align-self: center;
    order: 2;
  }
  .slot-machine-bottom-right{
    align-self: flex-start;
    margin-top: 20px;
    width: 50%;
    order: 3;
  }
  .toggle-theme-button{
    align-self: center;
  }
   .toggle-theme-button{
    width: 110px;
  }

  
  .winner-banner {
    text-align: center;
    color: white;
    padding: 10px;
    margin: 20px auto;
    width: 100%;
    img {
      width: 100%;
    }
  }
} */